**Datos de Facturación**
***Doménica vela***
***Rigoberto Gabriel***
***Patricio Mijares***

In [1]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Carga desde un archivo .xlsx sin indice
df= pd.read_excel('Datos de Facturación.xlsx')
df

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

In [3]:
data= pd.read_excel('Datos de Facturación.xlsx')
data.head(5)

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0

In [4]:
#Identificar valores nulos por columna
valores_nulos=data.isnull().sum()
valores_nulos

CVE_DOC              5
CVE_CLPV             0
STATUS               9
CVE_VEND            48
FECHAELAB            2
FECHA_DOC            1
FECHA_ENT            2
FECHA_VEN            0
FECHA_CANCELA    10537
CAN_TOT              6
DES_TOT              1
DES_FIN              3
dtype: int64

***Métodos de Sustitución de Valores Nulos***

In [5]:
##Realizamos una copia del dataframe
data2=data.copy()

In [6]:
# Sustituir valores nulos en 'CAN_TOT' con la media de la columna
data['CAN_TOT'] = data['CAN_TOT'].fillna(data['CAN_TOT'].mean())

# Sustituir valores nulos en 'DES_TOT' con la media de la columna
data['DES_TOT'] = data['DES_TOT'].fillna(data['DES_TOT'].mean())

# Sustituir valores nulos en 'DES_FIN' con la media de la columna
data['DES_FIN'] = data['DES_FIN'].fillna(data['DES_FIN'].mean())

In [7]:
# Verificar que los valores nulos han sido reemplazados
valores_nulos = data.isnull().sum()
print(valores_nulos)

CVE_DOC              5
CVE_CLPV             0
STATUS               9
CVE_VEND            48
FECHAELAB            2
FECHA_DOC            1
FECHA_ENT            2
FECHA_VEN            0
FECHA_CANCELA    10537
CAN_TOT              0
DES_TOT              0
DES_FIN              0
dtype: int64

In [8]:
# Segundo método de sustitución de valores nulos
# Sustituir valores nulos con mediana

# Sustituir valores nulos en 'CAN_TOT' con la mediana de la columna
data['CAN_TOT'] = data['CAN_TOT'].fillna(data['CAN_TOT'].median())

# Sustituir valores nulos en 'DES_TOT' con la mediana de la columna
data['DES_TOT'] = data['DES_TOT'].fillna(data['DES_TOT'].median())

# Sustituir valores nulos en 'DES_FIN' con la mediana de la columna
data['DES_FIN'] = data['DES_FIN'].fillna(data['DES_FIN'].median())

In [9]:
# Verificar la eliminación de valores nulos
valores_nulos = data.isnull().sum()
print(valores_nulos)

CVE_DOC              5
CVE_CLPV             0
STATUS               9
CVE_VEND            48
FECHAELAB            2
FECHA_DOC            1
FECHA_ENT            2
FECHA_VEN            0
FECHA_CANCELA    10537
CAN_TOT              0
DES_TOT              0
DES_FIN              0
dtype: int64

In [10]:
# Tercer método de sustitución de valores nulos
# Sustituir valores nulos por un valor numérico en concreto

# Sustituir valores nulos en 'CAN_TOT' con el valor numérico 0
data['CAN_TOT'] = data['CAN_TOT'].fillna(0)

# Sustituir valores nulos en 'DES_TOT' con el valor numérico 0
data['DES_TOT'] = data['DES_TOT'].fillna(0)

# Sustituir valores nulos en 'DES_FIN' con el valor numérico 0
data['DES_FIN'] = data['DES_FIN'].fillna(0)

In [11]:
# Verificar la eliminación de valores nulos
valores_nulos = data.isnull().sum()
print(valores_nulos)

CVE_DOC              5
CVE_CLPV             0
STATUS               9
CVE_VEND            48
FECHAELAB            2
FECHA_DOC            1
FECHA_ENT            2
FECHA_VEN            0
FECHA_CANCELA    10537
CAN_TOT              0
DES_TOT              0
DES_FIN              0
dtype: int64

In [12]:
# Cuarto método de sustitución de valores nulos
# Sustituir valores nulos por un string en concreto

# Sustituir valores nulos en 'STATUS' con el string 'Desconocido'
data['STATUS'] = data['STATUS'].fillna('Desconocido')

# Sustituir valores nulos en 'FECHA_CANCELA' con un string específico
data['FECHA_CANCELA'] = data['FECHA_CANCELA'].fillna('2030-06-19 00:00:00')

In [13]:
# Verificar la eliminación de valores nulos
valores_nulos = data.isnull().sum()
print(valores_nulos)

CVE_DOC           5
CVE_CLPV          0
STATUS            0
CVE_VEND         48
FECHAELAB         2
FECHA_DOC         1
FECHA_ENT         2
FECHA_VEN         0
FECHA_CANCELA     0
CAN_TOT           0
DES_TOT           0
DES_FIN           0
dtype: int64

In [14]:
# Quinto método de sustitución de valores nulos
# Sustituir valores nulos por valores no nulos hacia adelante (forward fill - ffill)

# Aplicar forward fill en las columnas especificadas
data['STATUS'] = data['STATUS'].fillna(method='ffill')
data['FECHAELAB'] = data['FECHAELAB'].fillna(method='ffill')
data['FECHA_DOC'] = data['FECHA_DOC'].fillna(method='ffill')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_7892\3701788705.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['STATUS'] = data['STATUS'].fillna(method='ffill')
C:\Users\Usuario\AppData\Local\Temp\ipykernel_7892\3701788705.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['FECHAELAB'] = data['FECHAELAB'].fillna(method='ffill')
C:\Users\Usuario\AppData\Local\Temp\ipykernel_7892\3701788705.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['FECHA_DOC'] = data['FECHA_DOC'].fillna(method='ffill')

In [15]:
# Verificar la eliminación de valores nulos
valores_nulos = data.isnull().sum()
print(valores_nulos)

CVE_DOC           5
CVE_CLPV          0
STATUS            0
CVE_VEND         48
FECHAELAB         0
FECHA_DOC         0
FECHA_ENT         2
FECHA_VEN         0
FECHA_CANCELA     0
CAN_TOT           0
DES_TOT           0
DES_FIN           0
dtype: int64

In [16]:
# Sexto método de sustitución de valores nulos
# Sustituir valores nulos por valores no nulos hacia atrás (backward fill - bfill)

# Aplicar backward fill en las columnas especificadas
data['STATUS'] = data['STATUS'].fillna(method='bfill')
data['FECHAELAB'] = data['FECHAELAB'].fillna(method='bfill')
data['FECHA_DOC'] = data['FECHA_DOC'].fillna(method='bfill')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_7892\3004151303.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['STATUS'] = data['STATUS'].fillna(method='bfill')
C:\Users\Usuario\AppData\Local\Temp\ipykernel_7892\3004151303.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['FECHAELAB'] = data['FECHAELAB'].fillna(method='bfill')
C:\Users\Usuario\AppData\Local\Temp\ipykernel_7892\3004151303.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['FECHA_DOC'] = data['FECHA_DOC'].fillna(method='bfill')

In [17]:
# Verificar la eliminación de valores nulos
valores_nulos = data.isnull().sum()
print(valores_nulos)

CVE_DOC           5
CVE_CLPV          0
STATUS            0
CVE_VEND         48
FECHAELAB         0
FECHA_DOC         0
FECHA_ENT         2
FECHA_VEN         0
FECHA_CANCELA     0
CAN_TOT           0
DES_TOT           0
DES_FIN           0
dtype: int64

In [18]:
# Séptimo método de sustitución de valores nulos
# Sustituir valores nulos por valores no nulos hacia atrás (backward fill - bfill)

# Aplicar backward fill en las columnas especificadas
data['CVE_DOC'] = data['CVE_DOC'].fillna(method='bfill')
data['CVE_CLPV'] = data['CVE_CLPV'].fillna(method='bfill')
data['STATUS'] = data['STATUS'].fillna(method='bfill')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_7892\1559838655.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['CVE_DOC'] = data['CVE_DOC'].fillna(method='bfill')
C:\Users\Usuario\AppData\Local\Temp\ipykernel_7892\1559838655.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['CVE_CLPV'] = data['CVE_CLPV'].fillna(method='bfill')
C:\Users\Usuario\AppData\Local\Temp\ipykernel_7892\1559838655.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['STATUS'] = data['STATUS'].fillna(method='bfill')

In [19]:
# Verificar la eliminación de valores nulos
valores_nulos = data[['CVE_DOC', 'CVE_CLPV', 'STATUS']].isnull().sum()
print(valores_nulos)

CVE_DOC     0
CVE_CLPV    0
STATUS      0
dtype: int64

In [20]:
# Octavo método de sustitución de valores nulos
# Sustituir valores nulos por valores no nulos hacia adelante (forward fill - ffill)

# Aplicar forward fill en las columnas especificadas
data['FECHA_VEN'] = data['FECHA_VEN'].fillna(method='ffill')
data['FECHA_CANCELA'] = data['FECHA_CANCELA'].fillna(method='ffill')
data['DES_TOT'] = data['DES_TOT'].fillna(method='ffill')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_7892\4117367631.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['FECHA_VEN'] = data['FECHA_VEN'].fillna(method='ffill')
C:\Users\Usuario\AppData\Local\Temp\ipykernel_7892\4117367631.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['FECHA_CANCELA'] = data['FECHA_CANCELA'].fillna(method='ffill')
C:\Users\Usuario\AppData\Local\Temp\ipykernel_7892\4117367631.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['DES_TOT'] = data['DES_TOT'].fillna(method='ffill')

In [21]:
# Verificar la eliminación de valores nulos
valores_nulos = data[['FECHA_VEN', 'FECHA_CANCELA', 'DES_TOT']].isnull().sum()
print(valores_nulos)

FECHA_VEN        0
FECHA_CANCELA    0
DES_TOT          0
dtype: int64

In [22]:
# Corroborar valores nulos en todo el DataFrame
valores_nulos = data.isnull().sum().sum()
print(f"Total de valores nulos en el DataFrame: {valores_nulos}")

Total de valores nulos en el DataFrame: 50

***Método de Eliminación de valores nulos***

In [23]:
# Identificar valores nulos por columna
valores_nulos = data.isnull().sum()
print("Valores nulos por columna:")
print(valores_nulos)

Valores nulos por columna:
CVE_DOC           0
CVE_CLPV          0
STATUS            0
CVE_VEND         48
FECHAELAB         0
FECHA_DOC         0
FECHA_ENT         2
FECHA_VEN         0
FECHA_CANCELA     0
CAN_TOT           0
DES_TOT           0
DES_FIN           0
dtype: int64

In [24]:
#Realizamos una copia del dataframe
data_original = data.copy()

In [25]:
# Identificar valores nulos por columna
valores_nulos = data.isnull().sum()
print("Valores nulos por columna en el DataFrame original:")
print(valores_nulos)

Valores nulos por columna en el DataFrame original:
CVE_DOC           0
CVE_CLPV          0
STATUS            0
CVE_VEND         48
FECHAELAB         0
FECHA_DOC         0
FECHA_ENT         2
FECHA_VEN         0
FECHA_CANCELA     0
CAN_TOT           0
DES_TOT           0
DES_FIN           0
dtype: int64

In [26]:
# Realizamos una copia del DataFrame
data_copy = data.copy()
print("\nDataFrame original copiado:")
print(data_copy.head())

DataFrame original copiado:
  CVE_DOC    CVE_CLPV STATUS  CVE_VEND           FECHAELAB  FECHA_DOC  \
0  F29414        2465      C       1.0 2019-09-03 08:58:42 2019-09-03
1  F29415        3926      C       1.0 2019-09-03 09:55:14 2019-09-03
2  F29416        3926      C       1.0 2019-09-03 13:25:33 2019-09-03
3  F29417        3926      C       1.0 2019-09-03 13:33:23 2019-09-03
4  F29418        6813      C       2.0 2019-09-03 14:23:45 2019-09-03

             FECHA_ENT  FECHA_VEN FECHA_CANCELA  CAN_TOT  DES_TOT  DES_FIN
0  2019-09-03 00:00:00 2019-09-18    2019-09-04  3980.00      0.0      0.0
1  2019-09-03 00:00:00 2019-10-03    2019-09-03  1550.00      0.0      0.0
2  2019-09-03 00:00:00 2019-10-03    2019-09-03  1550.00      0.0      0.0
3  2019-09-03 00:00:00 2019-10-03    2019-09-17  1550.00      0.0      0.0
4  2019-09-03 00:00:00 2019-09-03    2019-09-10  2435.44      0.0      0.0

In [27]:
# Eliminamos filas con nulos
data_cleaned = data_copy.dropna()
print("\nDataFrame después de eliminar filas con valores nulos:")
print(data_cleaned.head())

DataFrame después de eliminar filas con valores nulos:
  CVE_DOC    CVE_CLPV STATUS  CVE_VEND           FECHAELAB  FECHA_DOC  \
0  F29414        2465      C       1.0 2019-09-03 08:58:42 2019-09-03
1  F29415        3926      C       1.0 2019-09-03 09:55:14 2019-09-03
2  F29416        3926      C       1.0 2019-09-03 13:25:33 2019-09-03
3  F29417        3926      C       1.0 2019-09-03 13:33:23 2019-09-03
4  F29418        6813      C       2.0 2019-09-03 14:23:45 2019-09-03

             FECHA_ENT  FECHA_VEN FECHA_CANCELA  CAN_TOT  DES_TOT  DES_FIN
0  2019-09-03 00:00:00 2019-09-18    2019-09-04  3980.00      0.0      0.0
1  2019-09-03 00:00:00 2019-10-03    2019-09-03  1550.00      0.0      0.0
2  2019-09-03 00:00:00 2019-10-03    2019-09-03  1550.00      0.0      0.0
3  2019-09-03 00:00:00 2019-10-03    2019-09-17  1550.00      0.0      0.0
4  2019-09-03 00:00:00 2019-09-03    2019-09-10  2435.44      0.0      0.0

In [28]:
# Identificar valores nulos por columna en el DataFrame limpio
valores_nulos_limpio = data_cleaned.isnull().sum()
print("\nValores nulos por columna en el DataFrame limpio:")
print(valores_nulos_limpio)

Valores nulos por columna en el DataFrame limpio:
CVE_DOC          0
CVE_CLPV         0
STATUS           0
CVE_VEND         0
FECHAELAB        0
FECHA_DOC        0
FECHA_ENT        0
FECHA_VEN        0
FECHA_CANCELA    0
CAN_TOT          0
DES_TOT          0
DES_FIN          0
dtype: int64

In [29]:
# Comparar la información de ambos DataFrames
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_DOC        10895 non-null  object
 1   CVE_CLPV       10895 non-null  object
 2   STATUS         10895 non-null  object
 3   CVE_VEND       10847 non-null  float64
 4   FECHAELAB      10895 non-null  datetime64[ns]
 5   FECHA_DOC      10895 non-null  datetime64[ns]
 6   FECHA_ENT      10893 non-null  object
 7   FECHA_VEN      10895 non-null  datetime64[ns]
 8   FECHA_CANCELA  10895 non-null  datetime64[ns]
 9   CAN_TOT        10895 non-null  float64
 10  DES_TOT        10895 non-null  float64
 11  DES_FIN        10895 non-null  float64
dtypes: datetime64[ns](4), float64(4), object(4)
memory usage: 1021.5+ KB

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_DOC        10895 non-null  object
 1   CVE_CLPV       10895 non-null  object
 2   STATUS         10895 non-null  object
 3   CVE_VEND       10847 non-null  float64
 4   FECHAELAB      10895 non-null  datetime64[ns]
 5   FECHA_DOC      10895 non-null  datetime64[ns]
 6   FECHA_ENT      10893 non-null  object
 7   FECHA_VEN      10895 non-null  datetime64[ns]
 8   FECHA_CANCELA  10895 non-null  datetime64[ns]
 9   CAN_TOT        10895 non-null  float64
 10  DES_TOT        10895 non-null  float64
 11  DES_FIN        10895 non-null  float64
dtypes: datetime64[ns](4), float64(4), object(4)
memory usage: 1021.5+ KB

***Convertir DataSet sin valores nulos a CSV***

In [31]:
#Convertir DataFrame a CSV
data.to_csv("Datos de Facturación.csv")

In [34]:
files.download("Datos de Facturación.csv")

NameError: name 'files' is not defined